
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-OJ</title>
</head>

<body class="gray-bg">
    <!--引入公用资源-->
    <div th:replace="common/staticImport :: common_resource"></div>
    <!--引入公用头部-->
    <div th:replace="common/staticHf :: common_head"></div>
    <div class="rootDiv">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-6">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>教学通知</h5>
                            <div class="ibox-tools">
                                <a href="projects.html" class="btn btn-primary btn-xs">更多</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="project-title">
                                            <a href="project_detail.html">LIKE－一款能够让用户快速获得认同感的兴趣社交应用</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-title">
                                            <a href="project_detail.html">米莫说｜MiMO Show</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">商家与购物用户的交互试衣应用</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">天狼---智能硬件项目</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">乐活未来</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>排行榜</h5>
                            <div class="ibox-tools">
                                <a href="projects.html" class="btn btn-primary btn-xs">更多</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="project-title">
                                            <a href="project_detail.html">LIKE－一款能够让用户快速获得认同感的兴趣社交应用</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-title">
                                            <a href="project_detail.html">米莫说｜MiMO Show</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">商家与购物用户的交互试衣应用</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">天狼---智能硬件项目</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">乐活未来</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>教学通知</h5>
                            <div class="ibox-tools">
                                <a href="projects.html" class="btn btn-primary btn-xs">更多</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <td class="project-title">
                                            <a href="project_detail.html">LIKE－一款能够让用户快速获得认同感的兴趣社交应用</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-title">
                                            <a href="project_detail.html">米莫说｜MiMO Show</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">商家与购物用户的交互试衣应用</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">天狼---智能硬件项目</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    <tr>

                                        <td class="project-title">
                                            <a href="project_detail.html">乐活未来</a>
                                            <br>
                                            <small>创建于 2014.08.15</small>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 引入公用尾部 -->
<div th:replace="common/staticHf :: common_footer"></div>
</html>
